<span class="menu-setting small-screen-hide" @onkeydown="@ChangeMode">
	<MenuButton Data="MenuButtonData"></MenuButton>
</span>

@code {
	[Inject] public IJSRuntime JsRuntime { get; set; } = null!;

	internal static event Action? ChangedEvent;

	internal static ColorMode ColorMode { get; private set; } = null!;
	private MenuButtonData MenuButtonData { get; set; } = null!;

	protected override void OnInitialized()
	{
		SetMenuButtonData();
	}

	private void SetMenuButtonData()
	{
		MenuButtonData = new MenuButtonData()
		{
			FontAwesomeIcon = ColorMode == ColorMode.DarkMode ? "fa-moon" : "fa-sun",
			OnClick = ChangeMode
		};
	}

	private void ChangeMode(EventArgs? e)
	{
		if (e is KeyboardEventArgs { Code: not "Enter" and not "NumpadEnter" }) return;

		var mode = ColorMode == ColorMode.DarkMode ? ColorMode.LightMode : ColorMode.DarkMode;
		SetMode(mode);	
		SetMenuButtonData();

		ChangedEvent?.Invoke();

		if (JsRuntime is not IJSInProcessRuntime inProcessRuntime) return;
		inProcessRuntime.InvokeVoid("blazorColorMode.set", ColorMode.Name);
	}

	internal static void SetMode(ColorMode mode)
	{
		ColorMode = mode;
	}
}