@using CodeChops.Website.RazorComponents.Navigation.Menu

<span class="menu-setting small-screen-hide" @onkeydown="@ChangeModeAsync">
	<MenuButton Data="MenuButtonData"></MenuButton>
</span>

@code {
	[Inject] public IJSRuntime JsRuntime { get; set; } = null!;

	internal static ColorMode Value { get; private set; } = null!;
	private MenuButtonData MenuButtonData { get; set; }

	protected override void OnInitialized()
	{
		SetMenuButtonData();
	}

	private void SetMenuButtonData()
	{
		MenuButtonData = new MenuButtonData()
		{
			FontAwesomeIcon = Value == ColorMode.DarkMode ? "fa-moon" : "fa-sun",
			OnClick = (e, _) => ChangeModeAsync(e)
		};
	}

	private async Task ChangeModeAsync(EventArgs? e)
	{
		if (e is KeyboardEventArgs { Code: not "Enter" and not "NumpadEnter" }) 
			return;

		var mode = Value == ColorMode.DarkMode 
			? ColorMode.LightMode 
			: ColorMode.DarkMode;
		
		SetMode(mode);	
		SetMenuButtonData();
		StateHasChanged();

		if (JsRuntime is not IJSInProcessRuntime inProcessRuntime) 
			return;
		
		await inProcessRuntime.InvokeVoidAsync("blazorColorMode.set", Value.Name);
	}

	internal static void SetMode(ColorMode mode)
	{
		Value = mode;
	}
}
