@using System.Globalization
@using System.Resources
@using Microsoft.Extensions.Localization;
@using System.Collections.Immutable;

@if (FlagsByLanguageCode.Any())
{
	<div class="menu-setting">
		<MenuButton OnClick=@ChangeLanguage>@CurrentLanguageFlag</MenuButton>
	</div>
}

@code {
	[Inject] public IJSRuntime JsRuntime { get; set; } = null!;
	
	internal static event Action ChangedEvent = null!;

	/// <summary>
	/// The first culture is the default culture.
	/// </summary>
	public static IReadOnlyDictionary<string, string> FlagsByLanguageCode { get; set; } = new Dictionary<string, string>(StringComparer.OrdinalIgnoreCase) { ["en"] = "🇬🇧", ["nl"] = "🇳🇱" };
	public static ImmutableList<string> SupportedLanguages { get; set; } = FlagsByLanguageCode.Keys.ToImmutableList();
	public string CurrentLanguageFlag { get; set; } = null!;

	protected override void OnInitialized()
    {
   		this.SetCurrentLanguageFlag();
	}

	private void ChangeLanguage(MouseEventArgs args)
	{
		var index = SupportedLanguages.IndexOf(CultureInfo.CurrentCulture.TwoLetterISOLanguageName.ToLowerInvariant());
		var newIndex = (index + 1) % SupportedLanguages.Count;
		var newLanguageCode = SupportedLanguages[newIndex];

		SetNewCulture(newLanguageCode);
		this.SetCurrentLanguageFlag();

		ChangedEvent?.Invoke();

		if (this.JsRuntime is not IJSInProcessRuntime inProcessRuntime) return;
		inProcessRuntime.InvokeVoid("blazorCulture.set", newLanguageCode);
	}

	public static void SetNewCulture(string languageCode)
	{
		var culture = CultureInfo.GetCultureInfo(languageCode);
		if (culture is null) return;

		CultureInfo.CurrentCulture = culture;
		CultureInfo.DefaultThreadCurrentCulture = culture;
		CultureInfo.DefaultThreadCurrentUICulture = culture;
	}

	private void SetCurrentLanguageFlag()
	{
		var languageCode = CultureInfo.CurrentCulture.TwoLetterISOLanguageName;

		if (!FlagsByLanguageCode.TryGetValue(languageCode, out var flag)) return;

		this.CurrentLanguageFlag = flag;
		this.StateHasChanged();
	}
}