@inherits ResourcedComponent
@using System.Globalization
@using System.Collections.Immutable;
@using CodeChops.Website.RazorComponents.Navigation.Menu

@if (LanguageCodeList.Count is 0)
	return;

<span class="menu-setting small-screen-hide">
	<MenuButton Data="@MenuButtonData">@CurrentCountryFlag</MenuButton>
</span>
