@using System.Globalization
@using System.Resources
@using Microsoft.Extensions.Localization;
@using System.Collections.Immutable;

@if (FlagsByLanguageCode.Any())
{
	<button class="menu-setting small-screen-hide" @onkeydown="@ChangeLanguage">
		<MenuButton OnClick=@ChangeLanguage>@CurrentLanguageFlag</MenuButton>
	</button>
}

@code {
	[Inject] private IJSRuntime JsRuntime { get; set; } = null!;
	[Inject] private NavigationManager UriHelper { get; set; } = null!;

	internal static event Action ChangedEvent = null!;

	/// <summary>
	/// The first culture is the default culture.
	/// </summary>
	public static IReadOnlyDictionary<string, string> FlagsByLanguageCode { get; set; } = new Dictionary<string, string>(StringComparer.OrdinalIgnoreCase) 
	{ 
		["en"] = "🇬🇧", ["nl"] = "🇳🇱"
	};
	public static ImmutableList<CultureInfo> SupportedCultures { get; set; } = FlagsByLanguageCode.Keys.Select(language => new CultureInfo(language)).ToImmutableList();
	public string CurrentLanguageFlag { get; set; } = null!;

	protected override void OnInitialized()
	{
		this.SetCurrentLanguageFlag();
	}

	private void ChangeLanguage(EventArgs? e)
	{
		if (e is KeyboardEventArgs keyEventArgs && keyEventArgs.Code is not "Enter" and not "NumpadEnter") return;

		var index = SupportedCultures.IndexOf(CultureInfo.CurrentCulture);
		var newIndex = (index + 1) % SupportedCultures.Count;
		var newCulture = SupportedCultures[newIndex];

		SetNewCulture(newCulture);
		this.SetCurrentLanguageFlag();

		ChangedEvent?.Invoke();

		if (this.JsRuntime is not IJSInProcessRuntime inProcessRuntime) return;
		inProcessRuntime.InvokeVoid("blazorCulture.set", newCulture.TwoLetterISOLanguageName);
		
		// TODO temporary workaround
		this.UriHelper.NavigateTo("/", forceLoad: true);
	}

	public static void SetNewCulture(CultureInfo culture)
	{
		if (culture is null) return;

		CultureInfo.CurrentCulture = culture;
		CultureInfo.DefaultThreadCurrentCulture = culture;
		CultureInfo.DefaultThreadCurrentUICulture = culture;
	}

	private void SetCurrentLanguageFlag()
	{
		var languageCode = CultureInfo.CurrentCulture.TwoLetterISOLanguageName;

		if (!FlagsByLanguageCode.TryGetValue(languageCode, out var flag)) return;

		this.CurrentLanguageFlag = flag;
		this.StateHasChanged();
	}
}