.page {
	max-height: 100vh;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.border {
	border: 1px solid var(--branding-color-accent) !important;
	width: 100%;
	margin-top: -1px;
	opacity: .5;
}

main {
	overflow: auto;
	height: 100%;
	flex-direction: column;
	justify-content: space-between;
	background: repeating-linear-gradient(45deg, var(--branding-color-background), var(--branding-color-background) 10px, rgba(var(--branding-color-accent-rgb), .20) 14px);
	text-shadow: 0 0 var(--branding-text-shadow) var(--textcolor);
}

.sidebar {
	background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.language {
	opacity: .8;
}