<CascadingValue Value="@ShowApp">
    
    @if (!ShowApp)
    {
        <div id="clickOverlay" @onclick=OnSplashClick></div>
    }

    @ChildContent

</CascadingValue> 

<style>
    @If(this.IsRenderedOnClient, @".splashLogo {
        animation: logoShake 2.5s;
        animation-iteration-count: infinite;
        animation-direction: alternate-reverse;
    }")
    
</style>


@code
{
    [Inject] private RenderLocation RenderLocation { get; set; } = null!;
    [Inject] private IJSRuntime JsInterop { get; set; } = null!;
    [Parameter] public RenderFragment ChildContent { get; set; } = null!;
    private bool ShowApp { get; set; }
    private bool IsRenderedOnClient { get; set; }

    protected override void OnInitialized()
    {
        this.IsRenderedOnClient = RenderLocation is RenderedOnClient;
    }

    private async Task OnSplashClick(MouseEventArgs args)
    {
        if (this.ShowApp || !this.IsRenderedOnClient) return;

        await this.JsInterop.InvokeVoidAsync("onSplashClick");
        this.ShowApp = true;
    }
}