<div id="content" class="@(IsDocumentation ? "documentation" : null)">
	<article id="@Guid">
		@ChildContent
	</article>
</div>

<style>
	@@media (min-width: @(MaxWidth ?? "0"))  {
		#content {
			justify-content: center;
		}
	}
	#@Guid {
		max-width: @(MaxWidth is null ? "none" : $"min(100%, {MaxWidth})");
	}
</style>
