@page "/page-not-found"
@inherits ResourcedComponent

<Content>
	<Box>
		<Title Value="@(GeneralResource.PageNotFound)"></Title>

		<div>
			<a href="/">
				Go to the home page
			</a>
		</div>
	</Box>
</Content>
