@inherits ResourcedComponent

<Content MaxWidth="@null">
	<Box>
		<Title Value="@(GeneralResource.NotAuthorized)"></Title>

		<div>
			<a href="/">
				@GeneralResource.BackToHome
			</a>
		</div>
	</Box>
</Content>
