@page "/projects"
@inherits ResourcedComponent

<Content >
	<span class="title text-center">
		<Title Value="@ProjectResource.Title"></Title>
	</span>
	<div class="grid">
		@foreach (var group in ParameterGroups)
		{
			<DynamicComponent Type="@typeof(ProjectThumbnail)" Parameters="@group"/>
		}
	</div>
</Content>

@code {
	private static List<ProjectOverviewTitleResource> ProjectTitles { get; }
	private List<Dictionary<string, object>> ParameterGroups { get; set; } = null!;

	static ProjectOverview()
	{
		ProjectTitles = ProjectOverviewTitleResource.GetMembers().OrderBy(_ => Random.Shared.Next()).ToList();
	}
	
	protected override void OnComponentInitialized()
	{
		CreateView();
		LanguageChangedEvent += CreateView;
	}

	private void CreateView()
	{
		ParameterGroups = ProjectTitles
			.Select(member => new Dictionary<string, object>()
				{
					["ImagePath"] = $"images/projects/{member.Name}.png",
					["Title"] = member.Value,
					["Text"] = (MarkupString)ProjectOverviewTextResource.GetSingleMember(member.Name),
				})
			.ToList();
	}
}
