@using CodeChops.Website.Client.Pages.Projects
@using CodeChops.Website.Client.Pages.Projects.Resources
@using Image = Projects.Resources.ProjectImages

@page "/Projects"

<div class="text-center">
	<Content>
		<Title Value=@ProjectsResource.Title />
		<div class="grid">
			<ProjectThumbnail Image=Image.VendingMachine	Title=@ProjectsResource.VendingMachine_Title	Text=new(ProjectsResource.VendingMachine_Text) />
			<ProjectThumbnail Image=Image.MagicEnums		Title=@ProjectsResource.MagicEnums_Title		Text=new(ProjectsResource.MagicEnums_Text) />
		</div>
	</Content>
</div>

@code {
	protected override void OnInitialized()
    {
        LanguageSelector.ChangedEvent += this.StateHasChanged;
    }
}