@inherits ResourcedComponent<IProjectResource, IProjectResourceEnum>
@page "/Projects"

<Content >
	<span class="title text-center">
		<Title Value="@Resource.Title"></Title>
	</span>
	<div class="grid">
		@foreach (var group in ParameterGroups)
		{
			<DynamicComponent Type="@typeof(ProjectThumbnail)" Parameters="@group.Value"/>
		}
	</div>
</Content>

@code {
	private static ImmutableList<ProjectsTitleResource> ProjectTitles { get; }
	private static Dictionary<int, Dictionary<string, object>> ParameterGroups { get; } = new();
	
	static ProjectOverview()
	{
		var random = new Random();
		ProjectTitles = ProjectsTitleResource.GetMembers().OrderBy(_ => random.Next()).ToImmutableList();
		
		for (var i = 0; i < ProjectTitles.Count; i++)
			ParameterGroups.Add(i, GetThumbnailParameters(i));	
	}

	private static Dictionary<string, object> GetThumbnailParameters(int index)
	{
		var titleResource = ProjectTitles[index];
		
		return new()
		{
			["ImagePath"]	= $"images/projects/{titleResource.Name}.png",
			["Title"]		= titleResource.Value,
			["Text"]		= (MarkupString)ProjectsTitleResource.GetSingleMember(titleResource.Name).Value,
		};
	}
}
