@page "/projects"
@inherits ResourcedComponent

<Content>
	<span class="title text-center">
		<Title Value="@ProjectResource.Title"></Title>
	</span>
	
	<div style="margin-bottom: 30px; font-size: medium; text-align: center;">
		<Box>
			@ProjectResource.Error
		</Box>
	</div>
	
	<div class="grid">
		@foreach (var group in ParameterGroups)
		{
			<DynamicComponent Type="@typeof(ProjectThumbnail)" Parameters="@group"/>
		}
	</div>
</Content>

@code {
	private static List<Dictionary<string, object>> ParameterGroups { get; }

	static ProjectOverview()
	{
		var _ = AllDiscoveredImplementationsEnum.IsInitialized;
		ParameterGroups = ProjectOverviewTitleResource
			.GetMembers()
			.OrderBy(_ => Random.Shared.Next())
			.Select(member => new Dictionary<string, object>()
			{
				["ImagePath"] = $"images/projects/{member.Name}.png",
				["Title"] = member.Value,
				["Text"] = (MarkupString)ProjectOverviewTextResource.GetSingleMember(member.Name),
			})
			.ToList();
	}
}
