@page "/Projects"
@inherits ResourcedComponent<LanguageCache>

<Content >
	<span class="title text-center">
		<Title Value="@ProjectResource.Title"></Title>
	</span>
	<div class="grid">
		@foreach (var group in ParameterGroups)
		{
			<DynamicComponent Type="@typeof(ProjectThumbnail)" Parameters="@group.Value"/>
		}
	</div>
</Content>

@code {
	private ImmutableList<ProjectOverviewTitleResource> ProjectTitles { get; set; } = null!;
	private Dictionary<int, Dictionary<string, object>> ParameterGroups { get; } = new();

	protected override void OnInitialized()
	{
		CreateView();
	}

	protected override void OnAfterRender(bool firstRender)
	{
		if (ProjectTitles.Count == 0)
			CreateView();
	}

	private void CreateView()
	{
		var random = new Random();
		ProjectTitles = ProjectOverviewTitleResource.GetMembers().OrderBy(_ => random.Next()).ToImmutableList();
		
		for (var i = 0; i < ProjectTitles.Count; i++)
			ParameterGroups.Add(i, GetThumbnailParameters(i));	
	}
	
	private Dictionary<string, object> GetThumbnailParameters(int index)
	{
		var titleResource = ProjectTitles[index];
		
		return new()
		{
			["ImagePath"]	= $"images/projects/{titleResource.Name}.png",
			["Title"]		= titleResource.Value,
			["Text"]		= (MarkupString)ProjectOverviewTextResource.GetSingleMember(titleResource.Name),
		};
	}
}
