@using CodeChops.Website.Client.Pages.Projects

<a class="project" href="/projects/">
	<div class="text">
		<h4>@Title</h4>
		<span class="small-screen-hide">@Text</span>
	</div>
	<span class="image-container border">
		<img class="image noSelect " src="images/@(ImageName).png" alt="@ImageName"/>
	</span>
</a>

@code {
	[Parameter] public string Title { get; set; } = null!;
	[Parameter] public MarkupString Text { get; set; }
	[Parameter] public string ImageName { get; set; } = null!;

	private bool IsInitialized { get; set; } = true;
	
	protected override void OnInitialized()
    {
        LanguageSelector.ChangedEvent += StateHasChanged;
    }
	
	protected override void OnAfterRender(bool firstRender)
	{
		if (!this.IsInitialized)
			this.IsInitialized = true;
	}

}