@implements IDisposable
@page "/Projects"

<Content MaxWidth="@null">
	<span class="title text-center">
		<Title Value="@Resource.Title"></Title>
	</span>
	<div class="grid">
		<ProjectThumbnail ImageName="VendingMachine"	Title="@Resource.VendingMachine_Title"	Text="new(Resource.VendingMachine_Text)" />
		<ProjectThumbnail ImageName="MagicEnums"		Title="@Resource.MagicEnums_Title"		Text="new(Resource.MagicEnums_Text)" />
	</div>
</Content>

@code {
	public IProjectsResource Resource { get; set; } = IProjectsResource.Get();
	
	protected override void OnInitialized()
	{
		LanguageSelector.ChangedEvent += OnLanguageChanged;
	}

	private void OnLanguageChanged()
	{
		Resource = IProjectsResource.Get();
		StateHasChanged();
	}
	
	public void Dispose()
	{
		LanguageSelector.ChangedEvent -= OnLanguageChanged;
	}
}