@using CodeChops.Website.Client.Pages.Projects
@using CodeChops.Website.Client.Pages.Projects.Resources

<a class="project" href="/projects/">
	<div class="text">
		<h4>@Title</h4>
		<span class="small-screen-hide">@Text</span>
	</div>	
	<span class="image-container border">
		<img class="image noSelect" src="@GetImageSource()" />
	</span>
</a>

@code {
	[Parameter] public string Title { get; set; } = null!;
	[Parameter] public MarkupString Text { get; set; }
	[Parameter] public byte[]? Image { get; set; } = null!;

	public string? GetImageSource() => Image is null ? null : $"data:image/png;base64,{Convert.ToBase64String(Image)}";

	protected override void OnInitialized()
    {
        LanguageSelector.ChangedEvent += StateHasChanged;
    }
}