#crossfade-main {
    position: relative;
    width: 100%;
    height: 100%;
}

#crossfade-source {
    position: absolute;
    width: 100%;
    height: 100%;
}

#crossfade-copy {
    position: absolute;
    pointer-events: none;
    width: 100%; 
    height: 100%;
    overflow: hidden;
}

#crossfade-container {
    width: 100%;
    height: 100%;
}
