@page "/about"

<Content Title="About">
	<p>
		Welcome to CodeChops, a start-up that focuses on delivering creative, high-end applications. 
		It's mission is to deliver high-end, tailor-made applications by thinking along with you during the development process. 
		This will result in solutions that perfectly suit your company's needs.
	</p>

	<p>
		I am Max Bergman, a full-stack senior software engineer with a main focus on the .NET ecosystem. 
		Currently, I am working in the professional field using mainly: C#, .NET, Blazor, HTML, TypeScript, JavaScript, and MySQL. 
	</p>

	<p>
		This website is a place where I share my latest projects, my experiences in application development, and tips for other developers. 
		It will be regularly updated, as my endeavour to create top-notch solutions (with the newest techniques) is never-ending.
	</p>

	<p>
		Feel free to contact me for questions, remarks or comments. It'll be greatly appreciated!
	</p>

	<div id="author">
		Logo, design, and website by CodeChops.
	</div>
</Content>