@page "/about"

<Content Title="About">
	<p>
		Welcome to CodeChops.
		I am Max Bergman, a full-stack senior software engineer.
		With CodeChops, I focus on delivering creative, tailor-made, top-notch applications. 
		My solutions will perfectly suit your company's needs as I will think along with you during the development process.
	</p>

	<p>
		My published projects vary from front-end (<a href="/projects/website">Website</a>, <a href="projects/game">single player browser games</a>) to back-end (<a href="projects/magicenum">MagicEnums</a>, <a href="projects/maths">Maths</a>).
		Preferably, I work on solutions that encompass both front and back-end (<a href="/projects/junctions">Junctions</a>).
		This way I can give you a seamless, integrated and fully streamlined experience.
	</p>

	<p>
		This website is a place where I share my latest projects, my experiences in application development, and tips for other developers. 
		It will be regularly updated, as my endeavour to use the newest techniques is never-ending.		
	</p>

	<div class="alert alert-info">
		Technical background:
		My professional development career has focused mainly on the .NET ecosystem.
		Currently, I am using mainly: C#, .NET, Blazor, HTML, TypeScript, JavaScript, and MySQL. 
	</div>

	<p>
		Feel free to contact me if you have any questions, remarks or comments. It'll be greatly appreciated!
	</p>

	<div id="author">
		Logo, design and website by CodeChops.
	</div>
</Content>