<div class="content">
	<article class="px-2">
			<PageTitle>@Branding.Name - @Title</PageTitle>
			<h2>@Title</h2>

			@ChildContent	
	</article>
</div>

<Footer></Footer>

@code {
	[Parameter] public string Title { get; set; } = null!;
	[Parameter] public RenderFragment ChildContent { get; set; } = null!;
}