<div class="content">
	<Box>
		<article class="px-2">
			<PageTitle>@Branding.Name - @Title</PageTitle>
			<h2>@Title</h2>

			@ChildContent	
		</article>
	</Box>
</div>

<Footer/>

@code {
	[Parameter] public string Title { get; set; } = null!;
	[Parameter] public RenderFragment ChildContent { get; set; } = null!;
}