.nav-item {
    position: relative;
    z-index: 1;
    flex-basis: content;
}

    .nav-item a {
        align-items: center;
        line-height: 3rem;
        color: var(--textcolor) !important;
        display: ruby;
    }

        .nav-item a:hover {
            background-color: rgb(var(--textcolor-rgb), .3);
        }

.nav-link {
    color: var(--accentcolor) !important;
    outline: none;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: color .25s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    justify-content: space-around;
    font-variation-settings: 'wght' 275;
}

    .nav-link:focus {
        border-width: 1px;
        border-color: var(--accentcolor);
        border-style: double;
        margin: -1px -1px -1px -1px;
    }
    
    .nav-link.active {
        color: var(--textcolor) !important;
        background-color: rgba(255,255,255,0.10);
    }

.nav {
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
