@page "/Articles"
@inherits ResourcedComponent<LanguageCache>

<Content>
	<Box>
		<Title Value="@ArticlesResource.Title"></Title>
		<Box>
			<Article_ImplicitUsings/>
		</Box>
		<Box>
			<Article_ImplicitUsings/>
		</Box>
	</Box>
</Content>