@inherits ResourcedComponent<IArticlesResource, IArticlesResourceEnum>
@page "/Articles"

<Content>
	<Box>
		<Title Value="@Resource.Title"></Title>
		<Box>
			<Article_ImplicitUsings/>
		</Box>
		<Box>
			<Article_ImplicitUsings/>
		</Box>
	</Box>
</Content>