@page "/Articles"
@inherits ResourcedComponent
// ReSharper disable InconsistentNaming

<Content>
	<Box>
		<Title Value="@ArticleOverviewResource.Title"></Title>
		<Box>
			<Article_ImplicitUsings/>
		</Box>
		<Box>
			<Article_ImplicitUsings/>
		</Box>
	</Box>
</Content>