.box {
	position: relative;
	padding: 15px 20px 15px 20px;
	/*height: 100%;*/
	top: 15px;
}

.box-text {
	color: var(--text-color);
}

.box-code {

}

.background {
	background-color:rgb(var(--branding-color-background-rgb), 0.8) ;
}
