@inherits LayoutComponentBase

@if (CodeLanguage is not null)
{
	<div class="box box-code border background">
		<Code Language="@CodeLanguage">@ChildContent</Code>
	</div>
}
else
{
	<div class="box box-text border background">
		@ChildContent
	</div>
}
