.box {
	position: relative;
	padding: 15px 20px 15px 20px;
	height: 100%;
	top: 25px;
}

.box-text {
	color: var(--text-color);
	text-shadow: 0 0 1px var(--textcolor);
}

.box-code {

}

.background {
	background-color:rgb(var(--branding-color-background-rgb), 0.7) ;
}