<div id="content">
	<article>
		@ChildContent	
	</article>
</div>

<style>
	@@media (min-width: @(MaxWidth ?? "0"))  {
		#content {
			justify-content: center;
		}
	}
	article {
		max-width: @(MaxWidth ?? "none");
	}
</style>

@code {
	[Parameter] public RenderFragment ChildContent { get; set; } = null!;
	[Parameter] public string? MaxWidth { get; set; } = "900px";

	protected override void OnInitialized()
    {
        LanguageSelector.ChangedEvent += StateHasChanged;
    }
}