<div class="content">
	<article>
		@ChildContent	
	</article>
</div>

<style>
	@@media (min-width: @(Width)px) {
		.content {
			justify-content: center;
		}
	}
	article {
		max-width: @(Width)px;
	}
</style>

@code {
	[Parameter] public RenderFragment ChildContent { get; set; } = null!;
	[Parameter] public int Width { get; set; } = 900;

	protected override void OnInitialized()
    {
        LanguageSelector.ChangedEvent += this.StateHasChanged;
    }
}