<div id="content" class="@(IsDocumentation ? "documentation" : null)">
	<article>
		@ChildContent	
	</article>
</div>

<style>
	@@media (min-width: @(MaxWidth ?? "0"))  {
		#content {
			justify-content: center;
		}
	}
	article {
		max-width: @(MaxWidth is null ? "none" : $"min(100%, {MaxWidth})");
	}
</style>

@code {
	[Parameter] public RenderFragment ChildContent { get; set; } = null!;
	[Parameter] public string? MaxWidth { get; set; } = "900px";
	[Parameter] public bool IsDocumentation { get; set; }
}
