<footer>
    <h2>
        <a href="http://www.github.com/Code-Chops" target="_blank"><span class="fa fa-github" aria-hidden="true"></span></a>
        <a href="#"><span class="fa fa-linkedin" aria-hidden="true"></span></a>
    </h2>
    <h5>©️ @DateTime.Now.Year @Branding.Name</h5>
</footer>