<footer>
    <h4>
        <a href="https://github.com/Code-Chops" target="_blank">
            <span class="fa fa-github" aria-hidden="true"></span>
        </a>
        <a href="#">
            <span class="fa fa-linkedin" aria-hidden="true"></span>
        </a>
    </h4>
    <span title='@(Version is not null ? $"Version {Version}" : null)'> ©️ @DateTime.Now.Year @Branding.Name</span>
</footer>

@code {
    private static Version? Version { get; } = System.Reflection.Assembly.GetExecutingAssembly().GetName().Version;
}