footer {
	position: relative;
	display: flex;
	opacity: .8;
	align-items: center;
	flex-direction: column;
	margin-bottom: 85px;
	margin-top: 50px;
}

	footer h4 {
		line-height: 1;
	}

	footer a {
		color: var(--branding-color-text);
		padding-left: 10px;
		padding-right: 10px;
	}

		footer a:hover {
			color: var(--branding-color-accent);
		}	