@inherits LayoutComponentBase
@using CodeChops.Website.RazorComponents.Navigation;
@using static CodeChops.Website.RazorComponents.Navigation.MenuButton

<div class="page">
    <MenuBar 
            BackgroundColor=@new(ColorName.Black)
            AccentColor=@Branding.Colors.Accent
            TextColor=@new((byte)255, (byte)255, (byte)255)
            HRefColor=@(Branding.Colors.Accent.GetWhiterColor())
            FontFamily=@Branding.FontFamily 
            LogoPath="/favicon.ico" 
            Title=@Branding.Name 
            ShowTitle=ShowTitle
            Height="80" 
            ShowLogo="false"
            Buttons=Buttons>
        
            <LanguageSelector />
    </MenuBar>

    <div class="border"></div>

    <main>
        @Body           
    </main>
</div>

@code
{
    [CascadingParameter] protected bool ShowTitle { get; set; } = true;
    private ICollection<MenuButtonData> Buttons { get; } = new MenuButtonData[]
        {
            new() { HRef="/",           Text="Home" },
            new() { HRef="/projects",   Text="Projects" },
            new() { HRef="/about",      Text="About" },
        };
}