@inherits LayoutComponentBase

<div class="page">
    <MenuBar 
            BackgroundColor="black"
            AccentColor=@Branding.Color.Accent
            TextColor="white"
            FontFamily=@Branding.FontFamily 
            LogoPath="/favicon.ico" 
            Title=@Branding.Name 
            ShowTitle=ShowTitle
            Height="80" 
            ShowLogo="false">
        <MenuButton FontAwesomeIcon="fa-th-large">Game</MenuButton>
        <MenuButton FontAwesomeIcon="fa-image">Save Image</MenuButton>
        <MenuButton FontAwesomeIcon="fa-image">Save Image</MenuButton>
        <MenuButton FontAwesomeIcon="fa-image">Save Image</MenuButton>
        <MenuButton FontAwesomeIcon="fa-user-circle">Profile</MenuButton>
    </MenuBar>

    <main>
@*        <div class="top-row px-4 auth">
            <LoginDisplay />
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>*@

        <article class="content px-2">
            @Body
            
        </article>
    </main>
</div>

@code
{
    [CascadingParameter] protected bool ShowTitle { get; set; } = true;
}