.page {
	max-height: 100vh;
	height: 100%;
	display: flex;
	flex-direction: column;
	height: 100%;
}

.border {
	width: 100%;
	border-color: var(--branding-color-accent) !important;
	margin-top: -1px;
}

main {
	background-color: var(--branding-color-background);
	overflow: auto;
	padding-bottom: 10px;
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: space-between;
	background: repeating-linear-gradient( 45deg, var(--branding-color-background), var(--branding-color-background) 10px, rgba(var(--branding-color-accent-rgb), .20) 14px);
}

.sidebar {
	background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}