@using CodeChops.Website.RazorComponents

@ChildContent

@if (!IsRenderedOnClient)
{
    <div class="loading-progress-text"></div>
}

@code {
    [Inject] protected RenderEnvironment RenderEnvironment { get; set; } = null!;
    [Inject] protected IJSRuntime JsInterop { get; set; } = null!;
    [Parameter] public RenderFragment ChildContent { get; set; } = null!;

    private bool ShowApp { get; set; }
    private bool IsRenderedOnClient { get; set; }

    protected override async Task OnInitializedAsync()
    {
        IsRenderedOnClient = RenderEnvironment is not RenderEnvironment.WebassemblyHost;

        if (IsRenderedOnClient)
        
        await JsInterop.InvokeVoidAsync("removeSplash");
    }
}
