<PageTitle>@Branding.Name @If(Value, $"- {Value}")</PageTitle>

@if (Value is not null && ShowTitle)
{
	<h2>@Value</h2>					
}

@code {
	[Parameter] public string? Value { get; set; }
	[Parameter] public bool ShowTitle { get; set; } = true;
}
