<div class="nav-item">
    <a class="nav-link pointerCursor noSelect" href=@Data?.HRef @onclick=@OnClick>
        <span class="@If(Data?.FontAwesomeIcon is not null, $"fa {Data?.FontAwesomeIcon}")"></span> @Data?.Text @ChildContent
    </a>
</div>

@code {
    [Parameter] public MenuButtonData? Data { get; set; }
	[Parameter] public Action<MouseEventArgs> OnClick { get; set; } = null!;
	[Parameter] public RenderFragment ChildContent { get; set; } = null!;

    public record MenuButtonData
    {
        public string FontAwesomeIcon { get; set; } = null!;
        public string Text { get; set; } = null!;
        public string HRef { get; set; } = "#";
    }
}