.top-bar {
    color: var(--accentcolor);
    z-index: 100;
    width: 100%;
    overflow: hidden;
    flex: none;
}

.top-bar-shadow {
    box-shadow: 0 1rem 1rem rgb(0, 0, 0, 0.4);
    position: absolute;
    background-color: var(--backgroundcolor);
    width: 100%;
    opacity: 0;
    z-index: 1;
}

    .top-bar-shadow.show {
        opacity: 1;
        transition: all .25s ease-in;
        padding-left: 12px;
        padding-right: 12px;
    }
        
    .top-bar-shadow.hide {
        opacity: 0;
        pointer-events: none;
    }

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.navbar-brand {
    color: var(--textcolor) !important;
    text-shadow: 0 0 .05rem var(--accentcolor);
    font-variation-settings: 'wght' 100;
    margin: unset;
    font-size: 40px;
    cursor: default;
    padding-top: 4px;
    padding-left: 5px;
    padding-right: 5px;
}

    .navbar-brand:hover {
        text-shadow: 0 0 0 var(--textcolor);
    }


@media (max-width: 800px) {
    .navbar-brand {
        font-size: clamp(1.1rem, 5vw, 6.5vw) !important;
    }
}
    
.menu-bar {
    align-items: center;
    background-color: var(--backgroundcolor);
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    background-color: transparent;
    transition: box-shadow .15s ease-in-out;
    color: var(--textcolor);
    align-self: center;
    min-height: 40px;
    margin-left: 10px;
    margin-top: 5px;
    border: none;
}

    .navbar-toggler:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }

    .navbar-toggler:focus {
        box-shadow: 0 0 0 0.1rem var(--accentcolor);
    }

.button-container {
    display: flex;
    align-items: baseline;
    flex-direction: row;min-height: 40px;
}

.navbar-buttons {
    display: flex;
    padding-top: 5px;
}

.custom-toggler-icon {
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background-size: 100% 100%;
    display: inline-block;
}

.logo {
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
}

.menu-item-container {
    min-width: 200px;
    justify-content: space-between !important;
    display: flex !important;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.brand {
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}

#title {
    animation: titleSlide 1s;
    animation-fill-mode: both;
    animation-timing-function: ease-in;
}

@keyframes titleSlide {
    from {
        margin-left: -280px;
        opacity: 0;
    }

    to {
        margin-left: 0;
        opacity: 1;
    }
}