#chamber-of-commerce {
	color: var(--textcolor);
	opacity: .6;
	font-size: small;
	text-align: right;
	font-variation-settings: 'wght' 300;
}

#contact span {
	width: 25px;
}

#contact .fa {
	color: var(--hrefcolor) !important;
}

.no-text-decoration:not(:hover) {
	text-decoration: unset;
}

.no-text-decoration:hover {
	text-decoration: revert;
}
