@page "/"
@using CodeChops.Website.Client.Pages.Home.Resources
@inherits ResourcedComponent

<Content>
	<Box>
		<Title Value="@HomeResource.Title"></Title>

		<p>
			@HomeResource.Paragraph1
		</p>
		<p>
			@((MarkupString)HomeResource.Paragraph2)
		</p>

		<div id="author">
			@HomeResource.Author
		</div>
	</Box>
</Content>
